<%- include('./includes/header.ejs') %>

<div class="ui attached three item menu">
    <a class="item" href="<%= ROOT_PATH %>/set-name">Set Name</a>
    <a class="item" href="<%= ROOT_PATH %>/view-name">View Name</a>
    <a class="item" href="<%= ROOT_PATH %>/view-list">View List</a>
</div>

<%- include('./includes/footer.ejs') %>
